.form {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 32px;
}
.form-input {
  box-sizing: border-box;
  margin-right: 8px;
  height: 40px;
  width: 272px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  outline: none;
}
.form-btn {
  box-sizing: border-box;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;
}
.form-input:hover {
  border-color: #6c8cff;
}
.form-btn:hover {
  background-color: #6c8cff;
}
