.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.container {
  width: 1128px;
  margin: 0 auto;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.description-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.description-item {
  text-align: center;
}
.description-list p {
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
